<div class="row form">
<div class="col-lg-12">
<div>
<%= image_tag @kimono.image(:medium)%>
</div>

<br>

<%= form_for @kimono , :url => {:action => :update} do |f| %>
  <div>
  <%= f.file_field :image, placeholder: "画像アップロード" %>
  <div>
      <%= f.label :use_list, "例)春用,礼装（カンマ区切り）" %><br>
      <%= text_field_tag 'item[use_list]', @kimono.use_list.join(',') %>
    </div><br><br>
  </div>
<%= f.submit "編集する" %>
<% end %>
</div>
</div>