<%= link_to "new", '/items/new' %><br>
<%= link_to "index", '/items' %>

<br><br>
<div>
  <h3>着物</h3>
<% @kimonos.each do |item| %>
  <a href='/items/<%= item.id %>'>
    <%= image_tag item.image(:thumb) %></a>
  <%= render 'items/tag_list', tag_list: item.use_list %><br><br>
  <% end %>
</div>

  <p>--------------------------------------</p>
<br><br>

