<%= link_to "new", '/items/new' %><br>
<%= link_to "index", '/items' %>

<br><br>

<% @items.each do |item| %>
  <a href='/items/<%= item.id %>'><div>
  <%= image_tag item.image(:medium)%></div>
  <%= item.memo %></a>
<% end %>

<br><br>

