<%= form_for @item, :url => {:action => :create} do |f| %>
  <%= f.file_field :image, placeholder: "画像アップロード" %>
    <div>
      <%= f.label :kind_list, "種類 例)着物,袴" %><br>
      <%= text_field_tag 'item[kind_list]', @item.kind_list.join(',') %><br>
      <%= f.label :use_list, "例)春用,礼装（カンマ区切り）" %><br>
      <%= text_field_tag 'item[use_list]', @item.use_list.join(',') %>
    </div><br><br>
  <%= f.submit "たんすに入れる" %>
<% end %>

<%= link_to "new", '/items/new' %>
<%= link_to "index", '/items/index' %>