<%= link_to "new", '/items/new' %>
<%= link_to "index", '/items' %>


<div>
 <p>KIMONO</p>
<%= form_for @kimono, :url => {:action => :create} do |f| %>
  <%= f.hidden_field :flag, :value => "kimono" %>
  <%= f.file_field :image, placeholder: "画像アップロード" %>
    <div>
      <%= f.label :use_list, "例)春用,礼装（カンマ区切り）" %><br>
      <%= text_field_tag 'kimono[use_list]', @kimono.use_list.join(',') %>
    </div><br><br>
  <%= f.submit "たんすに入れる" %>
<% end %>
  </div>
  <p>--------------------------------------</p>