  <%= image_tag @item.image(:medium)%></div>
  <%= @item.memo %></a>

<br><br>

  <a href='/items/<%= @item.id %>/edit'>edit</a>

  <br>

<%= link_to "new", '/items/new' %><br>
<%= link_to "delete", item_path(@item), :method => :delete %><br>

<%= link_to "index", '/items' %>
