<div>
  <%= image_tag @kimono.image %></div>
  <%= render 'items/tag_list', tag_list: @kimono.use_list %><br>
</div>

<br><br>
<div>
  <a href='/items/<%= @kimono.id %>/edit'>edit</a><br>
  <%= link_to "new", '/items/new' %><br>
  <%= link_to "delete", item_path(@kimono), :method => :delete %><br>

  <%= link_to "index", '/items' %>
</div>


