<% if user_signed_in? %>
  <div class='navbar navbar-default navbar-fixed-top'>
    <div class='container'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-responsive-collapse'>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <%= link_to root_path, :class => 'navbar-brand' do %>
        <%= image_tag 'logo.png' %> <small class='hidden-xs hidden-sm'>着物をコーディネートしよう</small>
      <% end %>
          <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><i class="fa fa-bolt"></i></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right" id="normal">
            <li class="active"><%= link_to "コーディネートする", root_path %></a></li>
            <li class="active"><a href="/lists/show">コーディネート一覧</a></li>
            <li class="active"><a href="/items/show">たんす</a></li>
            <li class="active">
            <li class="active"><a href="#contact">アカウント</a></li>
            <li class="active"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
      <!-- <div class='navbar-collapse collapse navbar-responsive-collapse navbar-right'>
        <ul class='nav navbar-nav'>
          <li><%= link_to 'HOME', root_path %></li>
          <li class='dropdown'>
            <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false'>アカウント <span class='caret'></span></a>
            <ul class='dropdown-menu' role='menu'>
            </ul>
          </li>
        </ul>
      </div> -->
    </div>
  </div>
<% end %>